In [1]:
from sklearn.datasets import fetch_california_housing
import pandas as pd

data = fetch_california_housing(as_frame=True)

# Combine features and target
df = pd.concat([data.data, data.target.rename("MedHouseVal")], axis=1)

In [2]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [9]:
df.shape

(20640, 9)

In [8]:
output_path = "../../data/raw/california_housing.csv"
df.to_csv(output_path, index=False)
print(f"✅ Saved dataset to: {output_path}")

✅ Saved dataset to: ../../data/raw/california_housing.csv

In [11]:
!dvc push
!dvc status

Collecting                                            |1.00 [00:00,  833entry/s]
Pushing
!
  0% Checking cache in '/Volumes/X10 Raspberry/mlops_assgn1_storage/files/md5'|
Pushing
Everything is up to date.
Data and pipelines are up to date.